@code {
    @inject ChatService ChatService
    private List<ChatMessage> chatHistory;

    protected override void OnInitialized()
    {
        chatHistory = ChatService.GetChatHistory();
        ChatService.OnMessageSent += UpdateChatHistory;
    }

    private async void UpdateChatHistory()
    {
        chatHistory = ChatService.GetChatHistory();
        await
        InvokeAsync(StateHasChanged); //trigger component re-render and use invoke async to be called in UI thread
    }
}

@if (chatHistory.Any())
{
    <div class="chat-history">
        @foreach (var message in chatHistory)
        {
            <div class="@GetMessageClass(message.Type)" style="white-space:pre-line; font-family:inherit">@message.Message</div>
        }
    </div>
}

@code {
    private string GetMessageClass(ChatMessage.ChatMessageType type)
    {
        return type == ChatMessage.ChatMessageType.User ? "user-message" : "assistant-message";
    }
}